<div class="container mt-5 margen1">
  <button type="button" (click)="obtenerValorOpcion($event)" value='Registrar' class="btn btn-primary margen"
    data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Registrar Usuario</button>
  <table id="tbProducto" class="table-responsive table table-hover">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nombre</th>
        <th scope="col">User</th>
        <th scope="col">Password</th>
        <th scope="col">Sucursal</th>
        <th id="Actualizar"></th>
        <th id="Eliminar"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of listaUsuario">
        <td>{{usuario.cod_usuario}}</td>
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.user}}</td>
        <td>{{usuario.password}}</td>
        <td>{{usuario.sucursal.nombre}}</td>
        <td><button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
            (click)="obtenerSeleccion(usuario.cod_usuario)">Actualizar</button></td>
        <td><button type="button" class="btn btn-danger" (click) ="eliminarUsuario(usuario)">Eliminar</button></td>

      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <ul class="nav nav-tabs col-sm-12" *ngIf="btnSumbit=='Registrar'">
        <a class="nav-link col-sm-6 text-center " (click)="tipoRegistroProducto('I')">REGISTRO INDIVIDUAL</a>
        <a class="nav-link col-sm-6 text-center" (click)="tipoRegistroProducto('M')">REGISTRO MASIVO</a>
      </ul>
      <ul class="nav nav-tabs col-sm-12" *ngIf="btnSumbit=='Actualizar'">
        <a class="nav-link col-sm-12 text-center">ACTUALIZACIÓN PRODUCTO</a>
      </ul>
      <div class="modal-body">
        <form [formGroup]="formUsuario" (ngSubmit)='verificarDatos()' *ngIf="parametro=='I'" enctype= "multipart/form-data">
          <div class="mb-3 row">
            <label for="usuario" class="col-sm-5 col-form-label">Nombre del Usuario</label>
            <div class="col-sm-7">
              <input formControlName="nombre" id="nombre" [(ngModel)]="usuario.nombre"
                placeholder="NOMBRE DEL USUARIO" /><br>
              <small class="text-danger" *ngIf="validaCampos('nombre')">El campo debe tener un valor</small>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="user" class="col-sm-5 col-form-label">Usuario de Sistema</label>
            <div class="col-sm-7">
              <input formControlName="user" id="user" [(ngModel)]="usuario.user"
                placeholder="PRECIO" /><br>
              <small class="text-danger" *ngIf="validaCampos('user')">El campo debe tener un valor</small>
            </div>
          </div>
          <div class="mb-3 row">
              <label for="password" class="col-sm-5 col-form-label">Password</label>
              <div class="col-sm-7">
                <input formControlName="password" id="password" [(ngModel)]="usuario.password"
                  placeholder="PRECIO" /><br>
                <small class="text-danger" *ngIf="validaCampos('password')">El campo debe tener un valor</small>
              </div>
            </div>
            <div class="mb-3 row">
              <mat-form-field appearance="fill">
                  <mat-label>Sucursal</mat-label>
                  <select matNativeControl required [(ngModel)]="usuario.sucursal.nombre" formControlName="sucursal" >
                    <option  *ngFor="let sucursal of listaSucursal" [ngValue]="sucursal" >{{sucursal.nombre}}</option>
                  </select>
                </mat-form-field>
            </div>
          <div class="modal-footer">
            <button type="button" id="CerrarI" class="btn btn-secondary" (click)="limpiarCampos()"
              data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" value="Registrar"
              class="btn btn-primary">{{btnSumbit}}</button>
          </div>
        </form>
        <form *ngIf="parametro=='M'"  enctype= "multipart/form-data">
          <div class="form-group d-flex justify-content-center mb-5">
            <label className="btn btn-info d">
              <img  id="browser" class="w-50" [src]="excelIcon" />
              <input type="file" style="display: none" />
            </label>
          </div>
          <div class="modal-footer">
            <button type="button" id="CerrarM" class="btn btn-secondary" (click)="limpiarCampos()"
              data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" value="Registrar"
              class="btn btn-primary">{{btnSumbit}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>